# PostgreSQL
POSTGRES_USER=taskmanager
POSTGRES_PASSWORD=taskmanager
POSTGRES_DB=taskmanager

# Backend
SECRET_KEY=supersecretkey
TELEGRAM_BOT_TOKEN=
RESEND_API_KEY=

# Frontend
VITE_API_URL=http://localhost:8000